@media screen and (min-width: 320px) {
/* СБРОС */

* {
	margin: 0;
	padding: 0;
	box-sizing: 0;
}
body {
	max-width: 6000px;
	width: 100%;
	font-family: "Rubik", Helvetica, Arial,sans-serif;

}
header {
	width: 100%;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}

/* HEADER  */
#header,.logo,.nav-a,#nav,.signin {
	display: none;
}
#header__mobile {
	height: 200px;
	background-color: #EBEBEB;
	display: fixed;
	align-items: center;
}
.burger__menu {
	display: none;
}
#nav__mobile {
	width: 800px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: ;
	margin:0 auto;
}
.nav-a__mobile {
	font-size: 18px;
	font-weight: 400;
	color: black;
	padding-right: 50px;
	padding-left: 50px;
}
.signin__mobile {
	margin-right: 25px;	
}
.signin__link__mobile {
	color: black;
	font-size: 18px;
	font-weight: 500;
}
.burger__btn {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-around;
	background-color: ;
}
.burger__line {
	width: 150px;
	height: 50px;
	background-color: #2E5C5C;
}
/* ABOUT */
.about {
	width: 100%;
}
.about__container {
	background-color: #F5F5F5;
	width: 1200px;
	height: 400px;
	margin: 0 auto;
	display: flex;
}
.about__left {
	width: 300px;
	height: 100%;
	background-color: ;
}
.about__container-img {
	width: 250px;
	height: 250px;
	border: 2px solid black;
	border-radius: 50%;
	margin-top: 40px;
	margin-left: 30px;
}
.about__container-name {
	margin-left: 110px;
}
.about__container-subtitle {
	margin-left: 125px;
	font-size: 16px;
	font-weight: 300;
}
.about__info-rel {
	margin-top: 80px;
	margin-left: 50px;
}
.about__right {
	margin-top: 80px;
	margin-left: 20px;
}
.about__right-title{
	font-weight: 500;
	margin-left: 50px;
}
.about__contacts {
	margin-top: 20px;
	margin-left: 50px;
}
.about__contacts-li {
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	color: black;
}
.about__info {
	margin-top: 80px;
	margin-left: 50px;
}
.about__info-title {
	font-weight: 500;
 	margin-left: 20px;	
}
.about__info-title:nth-child(3){
	margin-top: 20px;
}
.about__info-title:nth-child(5){
	margin-top: 20px;
}
.about__info-subtitle {
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	color: black;
	margin-top: 20px;
 	margin-left: 20px;
}
/* PROJECT */
.proj {
	width: 100%;
}
.proj__container {
	width: 1400px;
	background-color: ;
	margin: 0 auto;
	margin-top: 200px;
}
.proj__container-title {
	margin: 0 auto;
	text-align: center;
	font-weight: 700;
	font-size: 30px;
	color: black;
}
.proj__table {
	width: 1400px;
	height: 300px;
	margin: 0 auto;
	background-color: ;
	margin-top: 200px;
	perspective: 400px;
	display: flex;
}
.proj__table-img {
	width: 500px;
	height: 300px;
	transform: rotate3d(5,10,-5,5deg);
	border-radius: 10px;
	box-shadow: -20px 25px 0px 0px rgba(176, 176, 176, 0.7);
}
.proj__table-right {
	width: 850px;
	height: 300px;
	margin-left: auto;
	background-color: ;
}
.proj__table-title {
	margin: 0 auto;
	text-align: center;
	font-weight: 700;
	line-height: 30px;
	color: black;
}
.proj__table-subtitle {
	color: black;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
}
.proj__table-subtitle:nth-child(2) {
	margin-top:20px;
}
.proj__table-link {
	color: black;
	font-size: 18px;
	margin-top: 50px;
	margin-left: 345px;
}
/* 2 НАБОР*/
.proj__table_two {
	width: 1400px;
	height: 300px;
	margin: 0 auto;
	background-color: ;
	margin-top: 200px;
	perspective: 400px;
	display: flex;
}
.proj__table_two-img {
	width: 500px;
	height: 300px;
	transform: rotate3d(5,-10,5,5deg);
	border-radius: 10px;
	box-shadow: 20px 25px 0px 0px rgba(176, 176, 176, 0.7);
	margin-left: 150px;
}
.proj__table_two-left {
	width: 900px;
	height: 300px;
	margin: 0 auto;
	background-color: ;
}
.proj__table-subtitle:nth-child(2) {
	margin-top:20px;
}
.proj__table_two-link {
	color: black;
	font-size: 18px;
	margin-top: 50px;
	
}
.proj__table-subtitle-a {
	text-decoration: underline;
	color: black;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
}
.proj__table-link-t {
	color: black;
	font-size: 18px;
	margin-top: 50px;
	margin-left: 280px;
}

/* FOOTER */
.footer {
	margin-top: 200px;
	width: 100%;
	height: 300px;
	background-color: #F5F5F5;
}
.footer__container {
	width: 1000px;
	margin: 0 auto;
	display: flex;
	background-color: ;
}
.footer__container-ul {
	background-color: ;
	margin:0 auto;
}
.footer__container-li_h {
	font-size: 22px;
	font-weight: 500;
	line-height: 30px;
	padding-top: 50px;
}
.footer__container-li {
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	color: black;
}

} /* MEADIE END */