@media screen and (max-width: 1023px) {
/* СБРОС */

* {
	margin: 0;
	padding: 0;
	box-sizing: 0;
}
body {
	max-width: 5000px;
	width: 100%;
	font-family: "Rubik", Helvetica, Arial,sans-serif;
	background-color: ;
}
header {
	width: 100%;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}

/* HEADER  */
#header,.logo,.nav-a,#nav,.signin {
	display: none;
}
.mobile__menu {
	width: 100%;
	height: 200px;
	
}
.mobile__menu-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #EBEBEB;
}
.mobile__menu-img {
	width: 220px;
	height: 220px;
}
/* ABOUT */
.about {
	width: 100%;
}
.about__container {
	background-color: #F5F5F5;
	width: 100%;
	height: 800px;
	margin: 0 auto;
}
.about__left {
	width: 100%;
	height: 100%;
	background-color: ;
}
.about__container-img {
	width: 500px;
	height: 500px;
	border: 2px solid black;
	border-radius: 50%;
	margin: 0 auto;
	display: block;
}
.about__container-name {
	margin:0 auto;
	display: block;
	text-align: center;
	font-weight: 700;
	font-size: 44px;
}
.about__container-subtitle {
	margin: 0 auto;
	text-align: center;
	font-size: 30px;
	font-weight: 300;
}
.about__info-rel {
	margin-top: 80px;
	margin-left: 50px;
	display: none;
}
.about__right {
	display: none;
	margin-left: 20px;
}
.about__right-title{
	font-weight: 500;
	margin-left: 50px;
	display: none;
}
.about__contacts {
	margin-top: 20px;
	margin-left: 50px;
	display: none;
}
.about__contacts-li {
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	color: black;
	display: none;
}
.about__info {
	margin-top: 80px;
	margin-left: 50px;
	display: none;
}
.about__info-title {
	font-weight: 500;
 	margin-left: 20px;	
 	display: none;
}
.about__info-title:nth-child(3){
	margin-top: 20px;
}
.about__info-title:nth-child(5){
	margin-top: 20px;
}
.about__info-subtitle {
	display: none;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	color: black;
	margin-top: 20px;
 	margin-left: 20px;
}
/* PROJECT */
.proj {
	width: 100%;
	background-color: ;
}
.proj__container {
	width: 100%;
	background-color: ;
	margin: 0 auto;
	margin-top: 100px;
}
.proj__container-title {
	margin: 0 auto;
	text-align: center;
	font-weight: 700;
	font-size: 56px;
	color: black;
}
.proj__table {
	width: 100%;
	height: 300px;
	margin: 0 auto;
	background-color: ;
	margin-top: 200px;	
}
.proj__table-img {
	display: block;
	margin: 0 auto;
	width: 80%;
	border-radius: 15px;
	box-shadow: 0px 5px 0px 0px rgba(176, 176, 176, 0.7);
}
.proj__table-right {
	margin: 0 auto;
	width: 100%;
	background-color: ;
}
.proj__table-title {
	margin: 0 auto;
	text-align: center;
	font-weight: 700;
	line-height: 20px;
	font-size: 40px;
	color: black;
	margin-top: 100px;
}
.proj__table-subtitle {
	color: black;
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	width: 60%;
	text-align: center;
	margin: 0 auto;
}
.proj__table-subtitle:nth-child(2) {
	margin-top:20px;
}
.proj__table-link {
	color: black;
	font-size: 24px;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
}
/* 2 НАБОР*/
.proj__table_two {
	width: 100%;
	height: 300px;
	margin: 0 auto;
	background-color: ;
	margin-top: 1100px;	
	display: flex;
	flex-direction: column-reverse;
}
.proj__table_two-img {
	display: block;
	margin: 0 auto;
	width: 80%;
	border-radius: 15px;
	box-shadow: 0px 5px 0px 0px rgba(176, 176, 176, 0.7);
}
.proj__table_two-left {
	margin: 0 auto;
		width: 100%;
	background-color: ;
}
.proj__table-subtitle:nth-child(2) {
	margin-top:20px;
}
.proj__table_two-link {
	color: black;
	font-size: 24px;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
}
.proj__table-subtitle-a {
	text-decoration: underline;
	color: black;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
}
.proj__table-link-t {
	color: black;
	font-size: 24px;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
}

/* FOOTER */
.footer {
	margin-top: 700px;
	width: 100%;r
	background-color: #F5F5F5;
}
.footer__container {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	background-color: #F5F5F5;
	align-items: center;
}
.footer__container-ul {
	background-color: ;
	margin:0 auto;
}
.footer__container-li_h {
	font-size: 34px;
	font-weight: 500;
	line-height: 50px;
	padding-top: 50px;
}
.footer__container-li {
	font-size: 28px;
	font-weight: 400;
	line-height: 50px;
	color: black;
}

}/*  MEDIA END */

